* {
  margin: 0;
  padding: 0;
   text-align: center;

  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
 
  min-height: 100vh;
  background:#293645;
  color: white;
}

/* HEADER */
.header {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid red;
  object-fit: cover;
}

.header h1 {
  font-size: 2rem;
  color: white;
}

/* MAIN CONTAINER */
.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* SUBTITLE */
.subtitle {
  font-size: 3rem;
  opacity: 0.85;
}

/* BUTTON BOX */
.button-box {
  background: #101B27;
  padding: 30px 40px;
  border-radius:35px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* BUTTON STYLE */
.btn {
  padding: 12px 30px;
  font-size: 2rem;
  color: white;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 20 26px 15px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

/* HOVER EFFECT */
.btn:hover {
  background: red;
  border-color: red;
  box-shadow: 0 18px 25px rgba(255, 0, 0, 0.6);
  transform: translateY(-3px);
}
